.recent-candidates {
    padding: 35px;
}

.recent-candidates-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.recent-candidates-title {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 49.67px;
    text-align: center;
    padding: 0 400px;
}

.recent-candidates-title span {
    color: #6a0dad;
}

.recent-companies-desktop {
    display: block;
    max-width: 100%;
    height: auto;
}

.recent-companies-mobile {
    display: none;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .recent-candidates-title {
        padding: 0 20px;
        font-size: 28px;
        line-height: 38px;
    }
}

@media screen and (max-width: 768px) {
    .recent-companies-desktop {
        display: none;
    }
    
    .recent-companies-mobile {
        display: block;
    }
    
    .recent-candidates-title {
        font-size: 24px;
        line-height: 32px;
    }
    
    .recent-candidates {
        padding: 20px;
    }
}